<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<string>आफ्नो घरजग्गा आँफै बेचौ  या भाडामा लगाअौँ ।</string>
		<string>घर भाडामा लगाउदा  मानिसको विवरण हेर्ने बानी बसालोउँ । </string>
		<string>घरजग्गा भाडा या बिक्री गर्दा अरु बिज्ञापन हेरी चलनचल्तीको  मुल्य तोकौँ । </string>
	</array>
</plist>

